.grid{
  width: 100%;
  height: 100vh;
  background-image:
  linear-gradient(rgba(126, 89, 231, 0.8), rgba(126, 89, 231, 0.8)),
  url("../public/bg.jpg");
  position: relative;
  overflow: hidden;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.grid.transitioning {
  background-image:
  linear-gradient(rgba(126, 89, 231, 0.8), rgba(126, 89, 231, 0.8)),
  url("../public/bg.jpg");
}

.bubble-overlay {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  z-index: 2;
  overflow: hidden;
  background-color: transparent;
  background-image: url("../public/bg.jpg");
  filter: none; 

  width: 200vmax;
  height: 200vmax;
  transform: scaleX(0) scaleY(0) translate(50%, -50%);
  transform-origin: top right;
  animation: bubbleStretch 3s ease-in forwards;
}
@keyframes bubbleStretch {
  0% {
    transform: scaleX(0) scaleY(0) translate(50%, -50%);
  }
  50% {
    transform: scaleX(0.2) scaleY(0.2) translate(50%, -50%);
  }
  100% {
    transform: scaleX(1) scaleY(1) translate(50%, -50%);
  }
}


.orange{
  position: absolute;
  bottom: 160px;
  left: 0%;
  height: 120px;
  z-index: 2;
  transform: rotate(-32.4deg);

}
.flower{
  position: absolute;
  bottom: 30%;
  right: 0%;
  height: 150px;
  z-index: 4;
  transform: rotate(-2.4deg);
}

.orange-bg{
  position: absolute;
  bottom: 30%;
  right: 8%;
  height: 150px;
  z-index: 1;
  transform: rotate(-2.4deg);
  filter: brightness(0) sepia(1) hue-rotate(236deg) saturate(400%) opacity(0.4);
  mix-blend-mode: multiply;
  transition-duration: 2s;
  
}
.orange-bg.after {
  filter: none; 
  mix-blend-mode: normal;
  z-index: 3;
}

#home-text ,.home-text-blue{
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 600;
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  font-size: 2.5rem;
  z-index: 2;
  line-height: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@font-face {
  font-family: 'American Signature';
  src: url('/fonts/American Signature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.signature-text ,.signature-text-style{
  font-family: 'American Signature', cursive;
  font-weight: 400;
  transform: rotate(-17.08deg);
  transform-origin: center;
  font-size: 3rem;
  display: inline-block;
}

.signature-text-style{
  color: #7E59E7;
  padding-bottom: 10px;
  position: relative;
  right: 5%;
}

.of-text{
   align-items: flex-end;
   display: flex;
   text-align: end;
   flex-direction: column
}

.heading-transition {
  color: #7E59E7; 
  animation: colorFade 1s ease-in-out forwards;
}

@keyframes colorFade {
  0% {
    color: #7E59E7; 
  }
  100% {
    color: white;
  }
}

.heading-transition-blue{
  color: #475467;
  display: flex;
  flex-direction: column;
}

.pinkLady, .blueLady {
  position: absolute;
  bottom: 30%;
  right: 28%;
  height: auto;
  /* transition: opacity 1s ease-in-out, transform 1s ease-in-out; */
}

/* Initial state */
.pinkLady {
  opacity: 1;
  z-index: 2;
}
.blueLady {
  opacity: 0;
  z-index: 5;
}

/* After bubble */
.after .pinkLady {
  opacity: 0;
  pointer-events: none;
}
.after .blueLady {
  opacity: 1;
  bottom: 22%;
  right: 25%;
  height: 72%;
}

/* Text smooth transition */
.home-text {
  transition: all 0.8s ease-in-out;
  z-index: 2;
}
.fade-in {
  opacity: 1;
  transition: opacity 2s ease-in-out;
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}


